In [1]:
# Data science 

# prerequisites
# DSA
# Version control System (git and github)
# languages(Python/R)
# Linux (Linux command)
# Database(Sql Scripting)




# Mathematics
# --- Linear Algebra --->   vectors and Matrices 
# --- Calculus-->Limit derivative and integration
# --Probabilit---> hypothesis and Testing
# -- Statistics-->  Mean Median Mode and Std 



# Pipeline

# BusinessUnderstading--> business objective Assess Situation  Data Mining Goals Project plan 

#   | |
# Data understanding--> data collection, data description, Data Exploration, and Quality verification

#    |
# Data preparation--> Select Data, Clean Data,   Construct Data, Integrate Dat, Format Data
#    ||
# Modeling --> Algorithm selection(choo), Train Test Split,Model Training,Assess Model  
#   |
# Evaluation     
# |
# Deployment



# Career



# Data Mining--> collect useful data  from different Sources 
# Business Intelligence -- write queries to generate reports
# Data Analyst--> Runs queries to find important trends
# Data engineering--> Prepare data to fit to Ml Model
# machine Learning-->Build AI models for the business 
#

# numeric type

In [ ]:
# int 
x=10

In [12]:
# float
x=10.01

In [13]:
# complex
a=complex(2,3)
z= 3+4j
print(z)

(3+4j)

In [16]:
type(z)

complex

# string type

In [19]:
text="hello"
text1='wow'
text2="'the best '"

In [20]:
text.lower()

'hello'

In [ ]:
text.upper()
text.split(',')  #convert into list
text.strip()

# sequence type

# list
# tuple

In [21]:
list1=[1,2,3,"roshan","karki"]

In [22]:
type(list1)

list

In [26]:
tuple=(1,"sbs")
tuple
# cant insert too  strict like array in c and c++

(1, 'sbs')

In [33]:
list1[0]
list1[1]="roshan"
list1
# tuple[1]=2 # throws error

[1, 'roshan', 3, 'roshan', 'karki']

In [45]:
##------------------ set---------------
set1={12,23,34,12}
tuple23=(3,232,3)
set1
tuple23

(3, 232, 3)

In [46]:
## Dictionary--> fast fast and fast
dict1={
    "name":"Roshan karki",
    "class":23,
    "email":"rohitkc8848@gmail.com"
      }
dict1

{'name': 'Roshan karki', 'class': 23, 'email': 'rohitkc8848@gmail.com'}

## =----------BOOlean-------------

In [48]:
x=10
x>12

False

# ----------Conditional statement----------

In [50]:
if x>11:
    print("x is grater than the 11")
else:
    print("x is less than 11 ")

x is less than 11

In [51]:
x=-12
if x>0:
    print("the number is positive")
elif x==0:
    print("x is zero")
else:
    print("x is negative")

x is negative

# --------------loops-------

In [60]:
new=[1,2,3,4,5,6,7,8,9]
for i in range(len(new)):
    new[i]=new[i]**2
new

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

# function

In [75]:
def fun1(a,b):
    return a+b;
fun1(23,23)

46

In [77]:
# default parameter
def fun(a=2):
    return a**2
fun()

4

In [80]:
def check(a):
    if a>0:
        print("this is positive number")
    elif a==0:
        print("this is zero")
    else:
        print("this is negative number")
check(-34)

negative

# Object oriented programming

In [ ]:
class addme:
    def __init__(self,a,b,c):
        self.a=a;
        self.b=b
        self.c=c
    def addThreeNumber(self):
        return self.a+self.b+self.c

add1=addme(223,12,23)
c=add1.addThreeNumber()
c